<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="WorldPCEntities" connectionString="metadata=res://*/Entities.WorldPC.csdl|res://*/Entities.WorldPC.ssdl|res://*/Entities.WorldPC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WSR-SRV\SQLEXPRESS;initial catalog=WorldPC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>